body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAClqGDDbi0ZZ-FIMaTufb0aNmdemwZpIjdRXpw7_ikX9yvpIFS7LSAys:https://i.pinimg.com/originals/c7/51/d1/c751d1fe7c5279ba03a318f33af80371.gif&s=10");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;
}