body {
  margin: 0px;
  background-color: #202737;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-color: rgba(109, 94, 46, 0.993);
  margin: 20px;
  border-radius: 15px;
  border: 5px solid rgba(109, 94, 46, 0.993);
  background-image: url("https://static.wikia.nocookie.net/zelda_gamepedia_en/images/b/b7/OoT_Lava.png/revision/latest?cb=20110514031735");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;
}

img {
  display: none;
}

